= stylesheet_link_tag 'network'

.scenarios
  - @scenarios.each do |scenario|
    .scenario{ :style => "left: #{scenario.left}px; top: #{scenario.top}px" }
      = scenario.title
.tags
  - @scenarios.collect{|s| s.tags}.flatten.each do |tag|
    .tag{ :style => "left: #{tag.left}px; top: #{tag.top}px;" }
      = tag.name
  
-#%ul.features
  %li= link_to 'Show', scenario
  %li= link_to 'Edit', edit_scenario_path(scenario)
  %li= button_to 'Destroy', scenario_path(scenario),  :confirm => 'Are you sure?', :method => :delete

:javascript 
  $('.scenario, .tag').draggable({
    stop: function(e, ui) { 
      //$.post("/
    }
  });

= link_to 'New Scenario', new_scenario_path
