%h1 Listing features

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @features.each do |feature|
    %tr
      %td= feature.title
      %td= feature.description
      %td= link_to 'Show', feature
      %td= link_to 'Edit', edit_feature_path(feature)
      %td= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Feature', new_feature_path
