<!DOCTYPE html>
<html>
<head>
  <title>FeatureGirl</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= link_to "Feature-Girl Main Page", network_path %>

<%= yield %>

</body>
</html>
